mixin cat-tile(foodContent, checkboxId, params, weight, textUnder)
    .fedTheCat__tile
        label(for="offer-"+ checkboxId).selectItem
        p.subHeading Сказочное заморское яство

        h2 Нямушка
            br
            span с #{foodContent}

        ul
            each param in params
                li!= param

        .weightLabel= weight
            span кг
        
        p.textUnder!= textUnder
