include components/mixins/_mixin-cat-tile

doctype
html(lang="ru")
    include components/common/_head
    body
        h1 Ты сегодня покормил кота?

        form.fedTheCat
            input(type="checkbox" id="offer-foiegras" name="offer[]" value="foiegras")
            +cat-tile('фуа-гра', 'foiegras', [
                    '<strong>10</strong> порций',
                    'мышь в подарок'
                ], '0,5', 
                    'Чего сидишь? Порадуй котэ,' +
                    '<label for="offer-foiegras" class="buy"><span>купи</span>.</label>'
            )

            input(type="checkbox" id="offer-fish" name="offer[]" value="fish")
            +cat-tile('рыбой', 'fish', [
                    '<strong>40</strong> порций',
                    '<strong>2</strong> мыши в подарок'
                ], 2, 'Головы щучьи с чесноком да свежайшая сёмгушка'
            )

            input(type="checkbox" id="offer-chicken" name="offer[]" value="chicken" disabled)
            +cat-tile('курой', 'chicken', [
                    '<strong>100</strong> порций',
                    '<strong>5</strong> мышей в подарок',
                    'заказчик доволен'
                ], 5, 'Печалька, с курой закончился'
            )
        script(src="js/app.js")
