head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Покормил кота?
    link(rel="stylesheet" href="css/style.css")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
