.fedTheCat {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas:
    "tile-1"
    "tile-2"
    "tile-3";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;

  & > &__tile {
    justify-self: center;
  }

  h2 {
    font-weight: normal;
  }

  &__tile {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    width: 320px;
    min-height: 480px;
    padding: 25px 59px 275px 50px;
    color: $gray;
    background: #58a;
    background: linear-gradient(135deg, transparent 30px, $tileDefault 0) top
      left;
    border-radius: $borderRadius;

    &:first-of-type {
      grid-area: tile-1;
    }

    &:nth-of-type(2) {
      grid-area: tile-2;
    }

    &:last-of-type {
      grid-area: tile-3;
    }

    &::before {
      z-index: 0;
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      background: linear-gradient(135deg, transparent 30px, #f2f2f2 0) top left;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border-radius: $borderRadius;
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      bottom: 4px;
      width: 100%;
      height: 100%;
      background-image: url("../images/the-cat.png");
      background-repeat: no-repeat;
      background-position: 0 bottom;
      border-radius: $borderRadius;
    }

    * {
      z-index: 1;
      position: relative;
    }

    .selectItem {
      display: block;
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
    }

    p,
    ul,
    h2 {
      margin: 0;
    }

    h2 {
      margin-top: 17px;
      margin-bottom: 22px;
      color: #000;
      font-size: 3rem;
      font-weight: bold;
      line-height: 0.8;
      word-break: break-word;

      span {
        font-size: 1.5rem;
      }
    }

    ul {
      padding: 0;
      list-style: none;
      font-size: 0.875rem;
      line-height: 1rem;
    }

    .weightLabel {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      bottom: 15px;
      right: 15px;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: $tileDefault;
      font-size: 2.625rem;
      line-height: 1;
      color: #fff;

      span {
        font-size: 21px;
      }
    }

    .textUnder {
      text-align: center;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 0.8125rem;
      line-height: 1rem;
      left: 0;
      top: calc(100% + 16px);

      .buy {
        cursor: pointer;
        margin-left: 6px;
        color: $tileDefault;

        span {
          font-weight: bold;
          text-decoration: none;
          border-bottom: 1px dashed $tileDefault;
        }
      }
    }

    &-hover {
      background: linear-gradient(
          135deg,
          transparent 30px,
          $tileDefault-hover 0
        )
        top left;

      .weightLabel {
        background-color: $tileDefault-hover !important;
      }

      .textUnder label {
        color: $tileDefault-hover !important;
        span {
          border-bottom: 1px dashed $tileDefault-hover !important;
        }
      }
    }

    &-selectedHover {
      background: linear-gradient(
          135deg,
          transparent 30px,
          $tileSelected-hover 0
        )
        top left;

      .weightLabel {
        background-color: $tileSelected-hover !important;
      }

      .textUnder label {
        color: $tileSelected-hover !important;
        span {
          border-bottom: 1px dashed $tileSelected-hover !important;
        }
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      & + .fedTheCat__tile {
        background: linear-gradient(135deg, transparent 30px, $tileSelected 0)
          top left;

        .weightLabel {
          background-color: $tileSelected;
        }

        .textUnder label {
          color: $tileSelected;
          span {
            border-bottom: 1px dashed $tileSelected;
          }
        }
      }
    }

    &:disabled {
      & + .fedTheCat__tile {
        color: $tileDisabled;
        background: linear-gradient(135deg, transparent 30px, $tileDisabled 0)
          top left;

        &::after {
          opacity: 0.5;
        }

        h2 {
          color: $tileDisabled;
        }

        .weightLabel {
          background-color: $tileDisabled;
        }

        .textUnder {
          color: $alert;

          label {
            color: $alert;

            span {
              border-bottom: 1px dashed $alert;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 720px) and (max-width: 1019px) {
    grid-template-areas:
      "tile-1 tile-1"
      "tile-2 tile-3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 61px 0;

    &__tile {
      margin-bottom: 0 !important;
    }
  }

  @media screen and (max-width: 719px) {
    &__tile {
      margin-bottom: 61px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: 1020px) {
    grid-template-areas: "tile-1 tile-2 tile-3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
