@font-face {
    font-family: Exo2;
    src: url('../fonts/Exo2.0-Thin.woff') format("woff");
}


@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet-MS.woff') format("woff");
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet-MS-Bold.woff') format("woff");
    font-weight: bold;
}

